@model string

@{
    ViewData["Title"] = StringsAccessor.Value.ViewTitle_ResetPasswordConfirmation;
}

<h2>@StringsAccessor.Value.ViewTitle_ResetPasswordConfirmation.</h2>
<div>
    logo
</div>
<div>
    Password reset for @Model.
</div>
<div>
    <a asp-controller="@nameof(AccountController).Replace("Controller", "")" asp-action="@nameof(AccountController.LogIn)">Log in</a>
</div>