<h2>Manage Account</h2>
<div>
    logo
</div>
<hr />
<div>
    <h3>
        Password
    </h3>
    <div>
        Last changed: {{responseModel.durationSinceLastPasswordChange}}
    </div>
    <a>Change password</a>
</div>
<div>
    <h3>Email address</h3>
    <div>
        Email address: {{responseModel.email}}
    </div>
    <div *ngIf="responseModel.emailVerified">
        Email address verified
    </div>
    <div *ngIf="!responseModel.emailVerified">
        <div>Email address unverified</div>
        <a>Send verification email</a>
    </div>
    <a routerLink="/manage-account/change-email">Change email address</a>
</div>
<div>
    <h3>Alternative email address</h3>
    <div *ngIf="!responseModel.alternativeEmail">
        Alternative email address not set
    </div>
    <div *ngIf="responseModel.alternativeEmail">
        <div>
            Alternative email address: {{responseModel.alternativeEmail}}
        </div>
        <div *ngIf="responseModel.alternativeEmailVerified">
            Alternative email address verified
        </div>
        <div *ngIf="!responseModel.alternativeEmailVerified">
            <div>Alternative email address unverified</div>
            <a>Send verification email</a>
        </div>
    </div>
    <a routerLink="/manage-account/change-alternative-email">Change alternative email address</a>
</div>
<div>
    <h3>
        Display name
    </h3>
    <div *ngIf="!responseModel.displayName">
        Display name not set
    </div>
    <div *ngIf="responseModel.displayName">
        <div>
            Display name: {{responseModel.displayName}}
        </div>
    </div>
    <a routerLink="/manage-account/change-display-name">Change display name</a>
</div>
<div>
    <h3>
        Two factor authentication
    </h3>
    <div *ngIf="!responseModel.twoFactorEnabled">
        <div>Two factor authentication disabled</div>
        <a>Enable two factor authentication</a>
    </div>
    <div *ngIf="responseModel.twoFactorEnabled">
        <div>
            Two factor authentication enabled
        </div>
        <a>Disable two factor authentication</a>
    </div>

</div>