<h2>Manage Account</h2>
<div>
    logo
</div>
<hr />
<div>
    <h3>
        Password
    </h3>
    <div>
        Last changed: {{accountDetails.durationSinceLastPasswordChange}}
    </div>
    <a>Change password</a>
</div>
<div>
    <h3>Email address</h3>
    <div>
        Email address: {{accountDetails.email}}
    </div>
    <div *ngIf="accountDetails.emailVerified">
        Email address verified
    </div>
    <div *ngIf="!accountDetails.emailVerified">
        <div>Email address unverified</div>
        <div *ngIf="emailVerificationEmailSent">
            <div>Email verification email sent.</div>
            <a>Did not receive email help</a>
        </div>
        <div *ngIf="!emailVerificationEmailSent">
            <a (click)="sendEmailVerificationEmail()">Send verification email</a>
        </div>
    </div>
    <a routerLink="/manage-account/change-email">Change email address</a>
</div>
<div>
    <h3>Alternative email address</h3>
    <div *ngIf="!accountDetails.altEmail">
        Alternative email address not set
    </div>
    <div *ngIf="accountDetails.altEmail">
        <div>
            Alternative email address: {{accountDetails.altEmail}}
        </div>
        <div *ngIf="accountDetails.altEmailVerified">
            Alternative email address verified
        </div>
        <div *ngIf="!accountDetails.altEmailVerified">
            <div>Alternative email address unverified</div>
            <div *ngIf="altEmailVerificationEmailSent">
                <div>Email verification email sent.</div>
                <a>Did not receive email help</a>
            </div>
            <div *ngIf="!altEmailVerificationEmailSent">
                <a (click)="sendAltEmailVerificationEmail()">Send verification email</a>
            </div>
        </div>
    </div>
    <a routerLink="/manage-account/change-alt-email">Change alt email address</a>
</div>
<div>
    <h3>
        Display name
    </h3>
    <div *ngIf="!accountDetails.displayName">
        Display name not set
    </div>
    <div *ngIf="accountDetails.displayName">
        <div>
            Display name: {{accountDetails.displayName}}
        </div>
    </div>
    <a routerLink="/manage-account/change-display-name">Change display name</a>
</div>
<div>
    <h3>
        Two factor auth
    </h3>
    <div *ngIf="!accountDetails.twoFactorEnabled">
        <div>Two factor auth disabled</div>
        <a (click)="setTwoFactorEnabled(true)">Enable two factor auth</a>
    </div>
    <div *ngIf="accountDetails.twoFactorEnabled">
        <div>
            Two factor auth enabled
        </div>
        <a (click)="setTwoFactorEnabled(false)">Disable two factor auth</a>
    </div>
</div>