<div *ngIf="dynamicControl.displayName">
    <label [attr.for]="dynamicControl.name">{{dynamicControl.displayName}}</label>
</div>
<div [ngSwitch]="dynamicControl.tagName">
    <input #control [ngClass]="getClasses()" *ngSwitchCase="'input'">
    <select #control [ngClass]="getClasses()" *ngSwitchCase="'select'">
        <!-- TODO incomplete -->
        <option *ngFor="let opt of dynamicControl.options"></option>
    </select>
</div>
<div>
    <span *ngFor="let message of dynamicControl.messages">{{message}}</span>
</div>
<div *ngIf="dynamicControl.isValidityPending()">Pending</div>
