@model string

@{
    ViewData["Title"] = StringsAccessor.Value.ViewTitle_AlternativeEmailVerificationConfirmation;
}

<h2>@StringsAccessor.Value.ViewTitle_AlternativeEmailVerificationConfirmation.</h2>
<div>
    logo
</div>
<div>
    The alternative email @Model has been verified.
</div>