@model string

@{
    ViewData["Title"] = StringOptionsAccessor.Value.ViewTitle_EmailVerificationConfirmation;
}

<h2>@StringOptionsAccessor.Value.ViewTitle_EmailVerificationConfirmation.</h2>
<div>
    logo
</div>
<div>
    The email @Model has been verified.
</div>