@model string

@{
    ViewData["Title"] = StringOptionsAccessor.Value.EmailVerificationConfirmationView_Title;
}

<h2>@StringOptionsAccessor.Value.EmailVerificationConfirmationView_Title.</h2>
<div>
    logo
</div>
<div>
    The email @Model has been verified.
</div>