@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h2>@ViewData["Title"].</h2>
<p>
    Temporary password sent.
</p>

<div>
    <a asp-controller="Account" asp-action="Login">Return to login</a>
</div>
