@model string

@{
    ViewData["Title"] = StringsAccessor.Value.ViewTitle_ForgotPasswordConfirmation;
}

<h2>@StringsAccessor.Value.ViewTitle_ForgotPasswordConfirmation.</h2>
<div>
    logo
</div>
<div>
    A password link was sent to @Model.
</div>
<div>
    <a asp-controller="@nameof(AccountController).Replace("Controller", "")" asp-action="@nameof(AccountController.LogIn)">Return to log in</a>
</div>
<div>
    Did not receive email.
</div>