@{
    ViewData["Title"] = StringOptionsAccessor.Value.ForgotPasswordConfirmationView_Title;
}

<h2>@StringOptionsAccessor.Value.ForgotPasswordConfirmationView_Title.</h2>
<div>
    logo
</div>
<div>
    Reset password link sent.
</div>
<div>
    <a asp-controller="@nameof(AccountController).Replace("Controller", "")" asp-action="@nameof(AccountController.LogIn)">Return to log in</a>
</div>
<div>
    Did not receive email.
</div>