@model ResetPasswordViewModel

@{
    ViewData["Title"] = StringOptionsAccessor.Value.ViewTitle_ResetPassword;
}

<h2>@StringOptionsAccessor.Value.ViewTitle_ResetPassword.</h2>
<div>logo</div>
<div>New password for account with email @Model.Email</div>
<form asp-controller="@nameof(AccountController).Replace("Controller","")" asp-action="@nameof(AccountController.ResetPassword)" method="post" role="form">
    <div>
        <input asp-for="Email" type="hidden" />
    </div>
    <div>
        <input asp-for="Token" type="hidden" />
    </div>
    <div>
        <label asp-for="NewPassword"></label>
        <div>
            <input asp-for="NewPassword" />
            <span asp-validation-for="NewPassword"></span>
        </div>
    </div>
    <div>
        <label asp-for="ConfirmNewPassword"></label>
        <div>
            <input asp-for="ConfirmNewPassword" />
            <span asp-validation-for="ConfirmNewPassword"></span>
        </div>
    </div>
    <div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </div>
</form>