@using Jering.VectorArtKit.WebApplication.Controllers;
@model SignUpViewModel

@{
    ViewData["Title"] = "Sign up";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="@nameof(AccountController).Replace("Controller","")" asp-action="@nameof(AccountController.SignUp)" 
      asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
    <h4>Sign up.</h4>
    <hr />
    <div>
        <label asp-for="Email"></label>
        <div>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
    </div>
    <div>
        <label asp-for="Password"></label>
        <div>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <div>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
    </div>
    <div>
        By clicking on "Sign up" below, you are agreeing to the Terms of Service and the Privacy Policy.
    </div>
    <div>
        <button type="submit">Sign up</button>
    </div>
</form>
