@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model VerifyCodeViewModel

@{
    ViewData["Title"] = "Verify two factor code";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="VerifyTwoFactorCode" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
    <h4>Verfiy two factor code.</h4>
    <hr />
    <div>
        <div>
            Two factor explanation.
        </div>
        <div>
            <label asp-for="Code"></label>
            <div>
                <input asp-for="Code" />
                <span asp-validation-for="Code"></span>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="SendTwoFactorCode">Resend code</a>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>