@model VerifyTwoFactorCodeViewModel

@{ 
    ViewData["Title"] = StringOptionsAccessor.Value.VerifyTwoFactorCodeView_Title;
}

<h2>@StringOptionsAccessor.Value.VerifyTwoFactorCodeView_Title.</h2>
<div>
    Two factor explanation.
</div>
<form asp-controller="@nameof(AccountController).Replace("Controller","")" asp-action="@nameof(AccountController.VerifyTwoFactorCode)" 
      asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">

    <div>
        <label asp-for="Code"></label>
        <div>
            <input asp-for="Code" />
            <span asp-validation-for="Code"></span>
        </div>
    </div>
    <div>
        <input asp-for="IsPersistent" type="hidden"/>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
    <div>
        Did not receive email
    </div>
</form>