<a routerLink="home">Logo</a><br />
<div *ngIf="userService.loggedIn">
    <a>My VakKits</a><br />
    <a>My VakUnits</a><br />
</div>
<div *ngIf="!userService.loggedIn">
    <a routerLink="signup">Sign up</a><br />
    <a>Log in</a><br />
</div>
<a>Overview</a><br />
<a>VakUnit gallery</a><br />
<a>Learn</a><br />
<a>Help</a><br />
<div *ngIf="userService.loggedIn">
    <a>Account:{{userService.username}}</a><br />
    <a>Manage account</a><br />
    <a (click)="logOff()">Log off</a>
</div>
<div>
    more
</div>

<router-outlet></router-outlet>
