<label [attr.for]="dynamicControl.name">{{dynamicControl.displayName}}</label>
<div [ngSwitch]="dynamicControl.tagName">
    <input #control (input)="dynamicControl.onInput($event)"
           (blur)="dynamicControl.onBlur($event)" 
           *ngSwitchCase="'input'">
    <!--TODO incomplete-->
    <select #control (change)="dynamicControl.onChange($event)" 
            *ngSwitchCase="'select'">
        <option *ngFor="let opt of dynamicControl.options"></option>
    </select>
</div>
<div *ngIf="dynamicControl.dirty && dynamicControl.blurred">
    <span *ngFor="let error of dynamicControl.errors">{{error}}</span>
</div>
