<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TestConnection"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=IdentityDapper;Integrated Security=True;" />     
  <!-- Data Source=jeringsoftdb2.southeastasia.cloudapp.azure.com;Initial Catalog=IdentityDapperTest;User ID=JeringSoftDB2;Password=@@PPPccD1990;Encrypt=True;TrustServerCertificate=True" -->
  </connectionStrings>
</configuration>