@{
    VakAccount vakAccount = ViewData[nameof(VakAccount)] as VakAccount;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Identity Sample</title>
</head>
<body>
    <a asp-controller="Home" asp-action="Index" class="navbar-brand">Logo</a><br />

    @if (vakAccount != null)
    {
        <a asp-controller="Manage" asp-action="Index" title="Manage">My VakKits</a><br />
        <a asp-controller="Manage" asp-action="Index" title="Manage">My VakUnits</a><br />
    }
    else
    {
        <a asp-controller="Account" asp-action="SignUp">Sign up</a><br />
        <a asp-controller="Account" asp-action="Login">Log in</a><br />
    }

    <a asp-controller="Home" asp-action="Index" class="navbar-brand">Overview</a><br />
    <a asp-controller="Home" asp-action="Index" class="navbar-brand">VakUnit gallery</a><br />
    <a asp-controller="Home" asp-action="Index" class="navbar-brand">Learn</a><br />
    <a asp-controller="Home" asp-action="Index" class="navbar-brand">Help</a><br />

    @if (vakAccount != null)
    {
        <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
            <a asp-controller="Manage" asp-action="Index" title="Manage">Account: @vakAccount.Email</a><br />
            <a asp-controller="Manage" asp-action="Index" title="Manage">Manage account</a><br />
            <button type="submit">Log off</button>
        </form>
    }

    <div>
        more
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
